<mat-toolbar>
    <button mat-button routerLink="/against-friend" (click)="playAgainstFriend()">
        Play against friend
    </button>

    <button mat-button (click)="playAgainstComputer()">
        Play against computer
    </button>

</mat-toolbar>

<div class="main-content">
    <router-outlet></router-outlet>
</div>

<footer class="creator-footer">
    <div class="footer-line-1">
        Created by <a href="https://abhirupmitra.vercel.app" target="_blank" class="portfolio-link">Abhirup Mitra</a>
    </div>
    <div class="footer-line-2">
        UX Engineer & Web Developer specializing in crafting high impact web experiences.
    </div>
</footer>